<div style="height: 100%;">
    <div class="col-md-3" style="padding:0 15px;height: 100%" ng-scrollbar scrollbar-x="false" scrollbar-y="true"
         scrollbar-config="{autoResize:true,show:true}">
        <div style="padding: 10px;">
            <button class="btn btn-primary" ng-click="allSelected?unSelectAll():selectAll();" ng-model="allSelected"
                    bs-checkbox>全选/反选
            </button>
            <button class="btn btn-primary" ng-click="oneKeyUpload ($event);">一键上传</button>
        </div>
        <div class="panel-group" data-allow-multiple="true" data-start-collapsed="false" role="tablist"
             aria-multiselectable="true" bs-collapse>
            <div class="panel panel-default repeat" ng-repeat="panel in groupServerTree">
                <div class="panel-heading" style="cursor:pointer;" role="tab" ng-click="panel.active = !panel.active"
                     bs-collapse-toggle>
                <span class="glyphicon" ng-class="{true:'glyphicon-plus',false:'glyphicon-minus'}[!!panel.active]"
                      style="float:left;margin-right: 10px;"></span>
                <span style="float:right;" ng-class="{
                            'glyphicon-unchecked':!panel.selected,
                            'glyphicon-check':panel.selected
                            }" class="glyphicon"
                      ng-click="panel.selected = !panel.selected;$event.stopPropagation();toggleSelectAll(panel.children,panel.selected);"></span>
                    <h4 class="panel-title">
                        <a>
                            {{ panel.name}}&nbsp;&nbsp;&nbsp;&nbsp;<span class="badge">{{panel.children.length}}</span>
                        </a>
                    </h4>
                </div>
                <div class="panel-collapse" role="tabpanel" bs-collapse-target>
                    <!-- List group -->
                    <ul class="list-group">
                        <li class="list-group-item repeat" ng-click="item.selected = !item.selected"
                            ng-repeat="item in panel.children" ng-class="{true:'masget-read'}[item.readflag]"
                            style="cursor:pointer;">
                        <span style="position: absolute;top:10px;right: 10px;" ng-class="{
                        'glyphicon-unchecked':!item.selected,
                        'glyphicon-check':item.selected
                        }" class="glyphicon"></span>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{item.ip}}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <form name="uploadForm" class="col-md-9" style="padding:0 15px;height: 100%;" ng-scrollbar scrollbar-x="false"
          scrollbar-y="true"
          scrollbar-config="{autoResize:true,show:true}">
        <div style="padding: 35px 0;">
            <div class="col-sm-12">
                <span style="font-weight: bolder;font-size: 20px;">从左边面板选择服务器</span>
            </div>
            <div ng-repeat="server in groupServerList" ng-if="server.selected" class="col-sm-12 repeat clearfix"
                 style="padding: 5px 10px;position: relative;">
                <div class="col-sm-5">
                    <div class="input-group">
                        <div class="input-group-addon">
                        <span class="glyphicon glyphicon-upload" style="top: 0px;cursor:pointer;color:#36944E;" ng-click="localUpload(server);">
                        </span>
                        </div>

                        <input type="text" class="form-control" name="sourceFile_{{$index}}" placeholder="请输入本地服务器路径"
                               ng-model="server.sourceFile" required
                               data-animation="am-flip-x" ng-options="path as path for path in getPaths($viewValue)"
                               bs-typeahead>

                        <div style="display: inline-block;position: absolute;font-size: 32px;"
                             ng-messages="uploadForm.sourceFile_{{$index}}.$error">
                            <div style="color: red;" ng-message="required">*</div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-5">
                    <div class="input-group">
                <span class="input-group-addon" style="width:130px;">
                <div style="overflow: hidden;text-overflow: ellipsis;white-space: nowrap;width:105px;" title="{{server.ip}}">{{server.ip}}</div>
                </span>
                        <input type="text" class="form-control" name="destFile_{{$index}}" placeholder="请输入远程服务器路径"
                               ng-model="server.destFile" required>

                        <div style="display: inline-block;position: absolute;font-size: 32px;"
                             ng-messages="uploadForm.destFile_{{$index}}.$error">
                            <div style="color: red;" ng-message="required">*</div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="progress am-fade" style="margin-bottom:0px;height: 34px;display:none;">
                        <div id="progressBar_{{$index}}" class="progress-bar progress-bar-striped active"
                             style="width: 0%;padding:8px 0;color: darkred;">
                        </div>
                    </div>
                    <span class="glyphicon glyphicon-ok-sign"
                          style="position:absolute;top:5px;left:-10px;color: green;font-size: 20px;display:none;"
                          data-content-Template="../static/template/popover/okMsg.html" data-container="body"
                          data-html="true" data-trigger="hover" data-placement="top" data-delay="200"
                          data-hover-hold="true" bs-popover></span>
                    <span class="glyphicon glyphicon-remove-sign"
                          style="position:absolute;top:5px;left:-10px;cursor:pointer;color: red;font-size: 20px;display:none;"
                          data-content-Template="../static/template/popover/errorMsg.html" data-container="body"
                          data-html="true" data-trigger="hover" data-placement="top" data-delay="200"
                          data-hover-hold="true" bs-popover></span>
                </div>
            </div>
            <div style="padding: 10px 20px;width:400px;position: fixed;top: 75px;right: 20px;">
                <button id="uploadBtn" ng-click="fileUpload($event);" ng-disabled="uploadForm.$invalid" data-loading-text="正在上传..."
                        class="btn btn-primary diabledCur" style="font-weight:700;margin-left:50px;padding: 5px 20px;">立即上传
                </button>
                <button ng-click="scheduleFileUpload($event,'upload');" ng-disabled="uploadForm.$invalid"
                        class="btn btn-primary" style="font-weight:700;margin-left:50px;padding: 5px 20px;">加入计划任务
                </button>
            </div>
        </div>
    </form>
</div>
