    <div class="col2 sheet sheet-page" style="margin: 0 auto;">

            <div class="content col4 text-center">
                <span class="sign-up-head">输入你的邮箱地址便于找回密码</span>
            </div>

            <div class="col4">
                    <input style="display:none" type="text" value="NMuDOduL-gkE4QCdM-YSG3PYZJ8g7FgL_dIY" name="_csrf" data-parsley-id="4102"><ul class="parsley-errors-list" id="parsley-id-4102"></ul>
                        <div class="conent col4 text-left">
                            <label>邮箱地址</label>
                            <input style="margin-top: 15px;" type="email">
                        </div>
                        <div class="col2" style="margin: 0 auto;">
                            <button type="submit" class="btn btn-primary" style="margin-top: 10px;">重置密码</button>
                        </div>
            </div>
    </div>
<div class="forgot-psw" style="display: block;">
    <!-- DONT ACCOUNT CONTENT -->
    <div class="col2" style="margin: 10px auto;">
        <button class="btn create-account-switch" ui-sref="login.register">创建一个新账户</button>
    </div>
</div>