<link rel="stylesheet" href="../static/css/login.css"/>
<div class="login login-background">
    <div id="cookie-header" class="topbar" style="background-color:#fbc02d;height: 60px;display:none;">
      <span style="line-height: 60px;margin-left: 10px;">
        <i class="mdi mdi-verified" style="font-size: 25px;"></i>
        Cookies help us deliver our services. By using our services, you agree to our use of cookies. <a href="https://stamplay.com/privacy" target="_blank" style="text-decoration:underline">Learn more</a></span>
        <div class="topbar-rightside">
            <button class="btn" style="opacity:1.0!important" id="cookie-agree">Got it</button>
        </div>
    </div>
    <div class="" ui-view="login"></div>
</div>