<div style="height: 100%;" ng-scrollbar scrollbar-x="false" scrollbar-y="true" scrollbar-config="{autoResize:true,show:true}">
    <div ui-grid="scriptList" ui-grid-cellnav ui-grid-resize-columns ui-grid-selection></div>
    <div style="padding:15px;" class="text-right">
        <button class="btn btn-primary" ng-click="editScript();">创建脚本</button>
        <button class="btn btn-primary" ng-click="uploadScript();">上传脚本</button>
        <button class="btn btn-primary" ng-click="deleteScript();">批量删除</button>
    </div>
</div>

