<div ng-scrollbar scrollbar-x="false" scrollbar-y="true" scrollbar-config="{autoResize:true,show:true}" class="modal"
     tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" ng-show="title">
                <button type="button" class="close" ng-click="$hide()">&times;</button>
                <h4 class="modal-title" ng-bind="title"></h4></div>
            <div class="modal-body" ng-bind="content"></div>
            <div class="modal-footer" ng-hide="modalFooterHide">
                <button type="button" class="btn btn-primary masget-btn-primary" ng-click="$modalButtonClick()">确认
                </button>
                <button type="button" class="btn btn-default masget-btn-default " ng-click="$hide()">关闭</button>
            </div>
        </div>
    </div>
</div>